blue = #3023AE
purple = #C96DD8
$black = #4A4A4A
white = white

// @font-face
//     font-family: "Avenir Regular"
//     src: url(./../../fonts/AvenirNextLTPro-Regular.woff)

@font-face
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;