<div class="card-wrapper">
    <div class="card">
        <div>
            <img class="profile-img" src="{{ site.profile-img }}" alt="">
        </div>
        <div class>
            <h1 class="name">{{ layout.my_name }}</h1>
            <p class="profession">{{ layout.skill }}</p>
            <div class="flex-container">
                <a href={{ site.github }}><img src="/assets/svg/github.svg" alt=""></a>
                <a href={{ site.twitter }}><img src="/assets/svg/twitter.svg" alt=""></a>
                <a href={{ site.linkedin }}><img src="/assets/svg/linkedin.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>